body{
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
    background-color: lightgray;
    background-color: white;
    color: black;
    margin:0;
    padding: 0;
}

.wrapper{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.red-btn{
    min-width: 200px;
    background-color: #ee3643;
    padding: 10px 0;
    font-size: 14px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
}

.red-btn:hover{
    background-color: #ca2c37;
}

.red-btn:active{
    background-color: #ba2732;
}

/* Оформление index.html */

.main-header{
    padding-bottom: 60px;
    background-color: #f1f5f7;
    font-size: 17px;
}

.additional-menu{
    margin-bottom: 45px;
    height: 42px;
    background-color: #293449;
    font-size: 0;
}

.additional-menu a{
    color: white;
    text-decoration: none;
    padding: 12px 0 11px;
}

.h1-logo, .logo{
    width: 220px;
    text-align: center;
    float: left;
    line-height: 19px;
    background: #ee3643;
    border-bottom: 5px solid #b52933;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.logo h1{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.logo-inner:hover{
    background: #ca2c37;
    border-bottom: 5px solid #9a212a;
}

.logo:active{
    background: #ba2732;
    border-bottom:5px solid #8e1e26;
}


.logo-footer{
    font-size: 30px;
    line-height: 30px;
    padding: 17px 0;
    text-decoration: none;
}

 .search-form, .bookmarks, .cart, .make-order{
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
}

.search-form{
    position: relative;
}

.search-form input{
    background: none;
    border: none;
    width: 270px;
    height: 42px;
    outline: none;
    padding-left:50px;
    padding-right: 15px;
    position: relative;
}

.search-form input::-webkit-input-placeholder {
    color: white;
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:-moz-placeholder {
    color: white; 
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input::-moz-placeholder {
    color: white; 
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:-ms-input-placeholder {
    color: white; 
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:focus::-webkit-input-placeholder {
    color: black;
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:focus:-moz-placeholder {
    color: black; 
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:focus::-moz-placeholder {
    color: black; 
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:focus:-ms-input-placeholder {
    color: black; 
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.search-form input:focus{
    background: white url("../img/catalog/icon-search-focus.png") no-repeat 20px 13px;
    color: black;
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 17px;
}

.make-order{
    width: 150px;
    float: right;
    background: #63a63e;
    text-align: center;
}

.make-order:hover{
    background: #5fbb2d;
}

.make-order:active{
    background: #518534;
    color: rgba(255,255,255, 0.5);
}

.additional-menu .bookmarks, .additional-menu .cart{
    position: relative;
    width: 125px;
    text-align: center;
    padding-left: 25px;
}

.style-menu:hover{
    background: #212a3a;
}

.cart-full:hover{
    background-color: #ca2c37;
}

.style-menu:hover::before{
    opacity: 1;
}

.style-menu:active{
    background: #161d29;
}

 .style-menu:hover::before + .style-menu:active{
    opacity: 0.4;
}

.style-menu::before{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 15px;
    top:14px;
    opacity: 0.4;
}

.bookmarks:before{
    background: url("../img/icon-bookmark.png") no-repeat;
}

.cart::before{
    background: url("../img/icon-basket.png") no-repeat;
}

.cart-full{
    background: #ee3643;
}

.search-form::before{
    background: url("../img/icon-search.png") no-repeat;
    position: absolute;
    top: 13px;
    left: 20px;
}

.header-promo{
    margin-bottom: 40px;
    font-size: 0;
}

.header-promo-left, .header-promo-middle, .header-promo-right{
    width: 300px;
    display: inline-block; 
    vertical-align: top;
    margin-right: 20px;
    font-size:17px;
}

.header-promo-left p{
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    padding: 0 50px;
    margin: 5px 0 0;

}

.header-promo-middle a{
    color: #e9292a;
    display: inline-block;
    border: 3px solid white;
    padding: 9px 50px 9px 73px;
    font-size: 21px;
    text-decoration: none;
    background: url("../img/icon-phone.png") no-repeat 12px 12px;
    margin-bottom: 2px;
}

.header-promo-middle p{
    margin: 5px 0 0 9px;
    color: #32425c;
    font-size: 14px;
}

.header-promo-right{
    margin-right: 0;
    text-align: right;
}

.header-promo-right .btn{
    display: inline-block;
    font-size: 21px;
    line-height: 18px;
    color: black;
    text-decoration: none;
    background: white;
    padding: 14px 24px;
}
.header-promo-right .log-in{
    padding-left: 50px;
    position: relative;
    margin-right: 5px;
}

.log-in::before{
    content: "";
    position: absolute;
    height: 16px;
    width: 20px;
    background: url("../img/icon-login.png") no-repeat;
    left: 14px;
    top: 15px;
    opacity: 0.4;
}

.header-promo-right .btn:hover{
    color: #ee3643;
}

.log-in:hover::before{
    opacity: 1;
}
 
.header-promo-right .btn:active{
    color: rgba(0,0,0, 0.3);
}

.main-menu ul{
    margin: 0;
    padding: 0 25px;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    font-size: 0;
}

.main-menu li{
    display: inline-block;
    vertical-align: top;
}

.main-menu  a{
    padding: 19px 30px;
    font-size: 17px;
    line-height: 17px;
    display: block;
    text-decoration: none;
    color: white;
}

.main-menu  a:hover{
    background: #293449;
}

.main-menu a:active{
    background: #1d2739;
    opacity: 0.5;
}

.current-main-menu{
    cursor: pointer;
}

.quick-access{
    margin-top: 60px;
}

.quick-access-box{
    width: 300px;
    height: 122px;
    margin-right: 20px;
    color: white;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    float:left;
    position: relative;
}

.quick-access-box span{
    display: inline-block;
    margin: 20px 0 0 25px;
    font-weight: bold;
}

.quick-access-box a{
    position: absolute;
    left:25px;
    top:50%;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    font-size:14px;
    line-height: 18px;
    padding: 10px 0;
    min-width: 135px;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
}

.quick-access-box a:hover{
    background: rgba(0, 0, 0, 0.2); 
}

.quick-access-box a:active{
    background: rgba(0, 0, 0, 0.3); 
}

.materials{
    background: url(../img/index/material.png) no-repeat 84% 55%,
                url(../img/new.png) no-repeat 100% 0;
    background-color: #f6b22d;
}

.tools{
    
    background: #4aafde url(../img/index/tools.png) no-repeat 90% 50%;
}

.vehicle{
    background: #cc79d1 url(../img/index/venihcle.png) no-repeat 85% 50%;
}

.deals{
    background: #85d179 url(../img/index/deals.png) no-repeat 80% 50%;
}

.delivery{
    background: #f6b22d url(../img/index/delivery.png) no-repeat 85% 50%;
}

.vehicle, .deals, .delivery{
    margin-right: 0;
    margin-bottom: 20px;
}

.slider {
	position:relative;
    width: 620px;
	padding-top:260px;
	text-align:center;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
}

.slider-check {
	position:absolute;
	clip:rect(0 0 0 0);
	overflow:hidden;
}

.slide {
    position:absolute;
    top:0;
    left:0;
}

.slider-label {
	overflow:hidden;
	display:inline-block;
	width:10px;
	height:10px;
	background:white;
	border-radius:50%;
	text-indent:-9999px;
    position: relative;
    bottom: 46px;
    z-index: 10;
    margin-right: 4px;
    box-shadow: inset 0 0 2px 0 rgba(0,0,0, 0.5);
}

.slider-info{
    display: none;
}

.slider-check:checked + .slider-label + .slider-info{
    display: block;
}

.slider-check:checked + .slider-label{
    box-shadow: inset 0 0 2px 0 rgba(0,0,0, 0.5),
                inset 0 0 0 3px white;
    background: #ee3643 50% 50%;
}

.slider-info{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.slider-info h3{
    font-size: 36px;
    line-height: 30px;
    margin: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.slider-info p{
    position: absolute;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 60px 0 0 25px;
    min-width: 300px;
    text-align: left;
}

.slider-button{
    margin: 20px 0 15px 25px;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 11px 0;
    min-width: 195px;
}

.items-header{
    background-color: #f7f3ec;
    margin-bottom: 20px;
}

.items-header h2{
    margin: 29px;
    float: left;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: normal;
}

.items-header a{
    float: right;
    margin-right: 25px;
    width: 250px;
    margin-top: 24px;
}

.popular-items{
    font-size: 0;
    margin-bottom: 2px;
}

.item{
    width: 220px;
    min-height: 317px;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
    font-size: 17px;
    vertical-align: top;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    font-family: 'PT Sans', 'Arial', sans-serif;
    text-align: center;
}

.item:last-child{
    margin-right: 0;
}

.popular-brands{
    font-size: 0;
    text-align: center;
    margin-bottom: 65px;
}

.brand-logo{
    width: 220px;
    min-height: 145px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
}

.brand-logo img{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.brand-logo:nth-child(4n+5){
    margin-right: 0;
}

.brand-logo:active{
    opacity: 0.5;
}

.service{
    padding-bottom: 100px;
    padding-top: 65px;
    margin-bottom: 75px;
    background-color: #f2f6f8;
}

.service h3{
    font-size: 30px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 0 0 30px;
    font-weight: normal;
}

.service p{
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.service-delivery p{
    width: 275px;
}

.service-description{
    width: 400px;
}

.service-select{
    margin-top: 28px;
}

.service-selected-right{
    float: left;
    width: 375px;
    position: relative;
}

.service-selected-right::after{
    content: "";
    position: absolute;
    width: 470px;
    height: 260px;
}

.service-select input[type="radio"]{
    display: none;
}


.service-check-1:checked ~ .service-selection .service-delivery{
	display: block;
}
.service-check-2:checked ~ .service-selection .service-guarantee{
	display: block;
}
.service-check-3:checked ~ .service-selection .service-credit{
	display: block;
}
.service-selected-right{
    display: none;
}
.service-check-1:checked ~ .service-selected-left .active-delivery{
    color: #32425c;
    background: white;
    border: none;
}
.service-check-2:checked ~ .service-selected-left .active-guarantee{
    color: #32425c;
    background: white;
    border: none;
}
.service-check-3:checked ~ .service-selected-left .active-loan{
    color: #32425c;
    background: white;
    border: none;
}
.service-delivery::after{
    content: "";
    background: url(../img/index/lory.png) no-repeat;
    top: 33%;
    left: 40%;
}
.service-guarantee::after{
    content: "";
    background: url(../img/index/guarantee.png) no-repeat;
    top: 30%;
    left:55%;
}

.service-credit::after{
    content: "";
    background: url(../img/index/credit.png) no-repeat;
    top: 34%;
    left: 35%;
}

.service-credit p{
    margin-bottom: 30px;
}

.service-credit .red-btn{
    padding: 10px 45px;
}

.service-selected-right h4{
    font-size: 36px;
    margin: 0 0 20px;
    color: #32425c;
    text-transform: uppercase;
    margin-top: 36px;
    font-weight: normal;
}

.service-selected-left{
    float: left;
    width: 240px;
    list-style: none;
    padding: 0;
    padding-top: 40px;
    position: relative;
    margin: 0;
    margin-right: 80px;
}

.service-selected-left::after{
    content: "";
    width: 10px;
    height: 272px;
    position: absolute;
    margin-left: -6px;
    top: 0;
    left: 100%;
    background: url("../img/index/service-shadow.png") no-repeat;
    
}

.service-selected-left label{
    background-color: #32425c;
    font-size: 21px;
    line-height: 21px;
    width:220px;
    padding: 20px 0 20px 24px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    color: white;
    cursor: pointer;
    display: block;
}

.service-selected-left label:hover{
    background-color: #293449;
}

.about{
    margin-bottom: 85px;
}

.about h3{
    font-size: 30px;
    margin: 0;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-weight: normal;
}

.about p{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 23px;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.about-left .red-btn{
    width: 220px;
    display: inline-block;
}

.contact-right .red-btn{
    width: 300px;
    display: inline-block;
}

.about ul{
    list-style: none;
    padding: 0;
    margin: 25px 0 35px;
}

.about li{
    background: url("../img/index/list-style.png") no-repeat 0 9px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 18px;
}

.about-left{
    width: 520px;
    float:left;
}

.contact-right{
    width: 300px;
    float: right;
}

.contact-right p{
    margin-bottom: 30px;
}

.contact-right img{
    margin-bottom: 40px;
}

.top-footer{
    background-color: #32425c;
    padding-bottom: 50px;
}

.top-footer-left{
    width: 330px;
    float: left;
}

.top-footer-right ul{
    margin: 0;
    padding: 0;
}

.footer-contacts{
    margin-top: 26px;
    margin-left: 5px;
    display: inline-block;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
}

.footer-contacts a{
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.footer-menu-1 a{
    text-decoration: none;
    color: #f1f5f7;
    font-size: 18px;
    line-height: 24px;
}

.footer-menu-2 a{
    text-decoration: none;
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
}

.footer-menu-1{
    padding-top: 35px;
    padding-bottom: 35px;
}

.top-footer-right a:hover{
    text-decoration: underline;
}

.top-footer-right a:active{
    opacity: 0.5;
    text-decoration: none;
}

.top-footer-right li{
    display: inline-block;
    padding-left: 55px;
}

.top-footer-right nav{
    float: right;

}

.social-btn{
    margin:0 2px;
    width: 43px;
    height: 43px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-decoration: none;
    border-radius: 50px;
    transition: 
        background-position 0.5s,
        background-color 0.5s;
}

.social-btn-vk{
    background: #212a3a url("../img/vk.png") no-repeat center;
    margin-left: 10px
}

.social-btn-fb{
    background: #212a3a url("../img/fb.png") no-repeat center;
    margin: 0px -2px;
}

.social-btn-inst{
    background: #212a3a url("../img/ig.png") no-repeat center;
}

.social-btn:hover{
    background-color: #ee3643;
}

.bottom-footer section{
    float:left;
    font-size:16px;
    line-height: 18px;
    color: white;
}

.bottom-footer-social{
    padding-right: 118px;
    padding-left: 154px;
}

.bottom-footer a{
    text-decoration: none;
    color: #ffd180;
}

.bottom-footer a:hover{
    text-decoration: underline;
}

.bottom-footer{
    background-color: #293449;
    padding: 36px 0 30px;
}

.bottom-footer .bottom-footer-copyright-1{
    margin-left: 3px
}

.bottom-footer .bottom-footer-copyright-2{
    float: right;
    max-width: 160px;
    margin-right: 13px;
}

.bottom-footer-text a:active{
    color: #ee3643;
    text-decoration: none;
}

/* Оформление catalog.html */

.username{
    background: white;
    text-align: left;
}

.username a{
    color: black;
    text-decoration: none;
    font-size: 21px;
    line-height: 18px;
}

.username-link{
    display: inline-block;
    padding: 15px 0 15px 48px;
    background:url("../img/index/icon-user.png") no-repeat 14px 14px;
}

.username a:active{
    opacity:0.3;
}

.header-promo-right .header-user:active{
    opacity: 0.3;
    color: #32425c;
}

.header-promo-right .head-user-position{
    margin-right:70px;
}

.username-link:hover{
    background:url("../img/index/icon-user-1.png") no-repeat 14px 14px;
}

.username-exit{
    content: "";
    float: right;
    display: block;
    background: url(../img/icon-logout.png) no-repeat 28px 15px;
    width: 59px;
    height: 44px;
}

.username-exit:hover{
    background: url(../img/icon-logout-h.png) no-repeat 28px 15px;
}

.header-user{
    font-size: 16px;
    color: #32425c;
    margin: 5px 7px 0 7px;
    display: inline-block;
}

.header-user:hover{
    color: #ee3643;
}

.header-user-dot{
    font-size: 16px;
    color: #32425c;
    display: inline-block;
}

.breadcrumbs{
    margin: 20px 0;
}

.breadcrumbs ul{
    margin: 0;
    padding: 0;
    font-size: 0px;
}

.breadcrumbs ul li{
    font-family: 'PT Sans', 'Arial', sans-serif;
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;  
}

.breadcrumbs li:first-child{
    padding-left: 50px;
}

.breadcrumbs li:first-child::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 12px;
    background: url(../img/icon-home.png) no-repeat;
    bottom: 3px;
    left: 0%;
}

.breadcrumbs a{
    text-decoration: none;
    color: black;
    margin-left: 3px;
}

.breadcrumbs li::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url(../img/icon-right.png) no-repeat;
    bottom: 3px;
    left: 95%;
}

.breadcrumbs li:last-child::after{
    content: none;
}

.filter form{
    margin-top: 11px;
}

.filter{
    width: 220px;
    float: left;
    font-family: 'PT Sans', 'Arial', sans-serif;
}
.filter h3{
    border-top: 1px solid #e5e5e5;
    margin: 0;
    padding: 18px 0 14px;
    font-size: 17px;
    text-transform: uppercase;
}
.price-filter h4{
    font-size: 17px;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0 0 15px;
}

.price-filter {
    position: relative;
    font-size: 16px;
    padding: 0 0 27px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 9px;
    padding: 0 20px;
    background: #f7f3ec;
    overflow: hidden;
}

.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
    width: 80%;
}
.range-controls .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    position: absolute;
    top: 30px;
    left: 20px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf
}        

.range-controls .max-toggle {
    left: 160px;
}


.price-controls input {
    width: 94px;
    padding: 8px 0;
    border: none;
    background: #f7f3ec;
    font-size: 17px;
    text-align: center;
    color: #283136;
    border-radius: 3px;
}

.min-price{
    margin-right: 5px;
}

.max-price{
    margin-left: 5px;
}

.brand-filter, .power-filter{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-size: 15px;
}

.brand-filter li, .power-filter li{
    margin-bottom: 14px;
}

.filter input[type="submit"]{
    width: 140px;
    padding: 11px 0;
    font-size: 13px;
    margin-top: 53px;
    color: black;
    background: white;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.filter input[type="submit"]:hover{
    border: 1px solid #bdc6ca;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
    display:none;            
}

.filter input[type="checkbox"] + label, 
.filter input[type="radio"] + label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter input[type="checkbox"] + label::before,
.filter input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 27px;
    margin: 5px 8px -8px 0;
    background-image: url(../img/catalog/download.png);
    background-repeat: no-repeat;
    opacity: 0.7;
}

.filter input[type="checkbox"] + label:hover::before,
.filter input[type="radio"] + label:hover::before {
    opacity: 1;
}

.filter input[type="checkbox"] + label::before {
    background-position: -2px -79px;    
}

.filter input[type="radio"] + label::before {
    background-position: -2px -52px;
}

.filter input[type="checkbox"]:checked + label::before {
    background-position: -2px -0px;
}

.filter input[type="radio"]:checked + label::before {
    background-position: -2px -25px;
}

.filter input[type="checkbox"]:disabled + label::before {
    opacity: 0.3;
}

.sort-line{
    margin:0;
    padding: 12px 20px;
    background: #f7f3ec;
    border-radius: 3px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.sort-line>a{
    color: rgba(0,0,0, 0.3);
    text-decoration:none;
    border-bottom: 1px dotted #ee3643;
}

.sort-by-type{
    margin-left: 67px;
}

.sort-by-price{
    margin-left: 135px;
}

.sort-by-functional{
    margin-left: 63px;
}
.sort-line>a:hover{
    color: rgba(0,0,0, 1);
    border-bottom: 1px solid #ee3643;
}

.sort-line .sort-line-select:not(:hover){
    border: none;
    color: #ee3643;
}

.sort-line .sort-line-select:hover{
    border: none;
    color: #ee3643;
}

.up-down-list{
    float: right;
    position: relative;
}

.up-down-list a{
    display: inline-block;

}

.up-list{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 10px 6px;
    border-color: transparent transparent #ee3642 transparent;
}

.down-list{
    margin-left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: rgba(0,0,0, 0.3) transparent transparent transparent;

}

.down-list:hover{
      border-color: rgba(0,0,0, 1) transparent transparent transparent;
}

.items-list{
    width: 700px;
    float: right;
}

.item-name{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: black;
    text-decoration: none;
    margin-bottom: 8px;
}

.item-price{
    display: inline-block;
    color: white;
    padding: 10px 22px 10px 35px;
    background: #ee3643;
    position: relative;
    border-radius: 3px;
    margin: 8px 13px 0 0px;
}

.new-item{
    position: relative;
}

.new-item::after{
    content: "";
    position: absolute;
    top:0;
    left: 100%;
    background: url(../img/new.png) no-repeat;
    margin-left: -60px;
    width: 60px;
    height: 59px;
}

.item-price::after {
    content: ''; 
    position: absolute;
    right: -38px;
    top: 0;
    border: 20px solid transparent;
    border-left: 20px solid #ee3643;
}

.item:hover, .brand-logo:hover{
    box-shadow: 0 5px 20px 3px rgba(41, 52, 73, 0.3);
}

.item:hover .item-img{
    display: none;
}

.item:hover .item-hover{
    display: inline-block;
    text-align: center;
    height: 160px;
    margin-bottom: 4px;
}

.item .btn-buy, .item .btn-to-bookmark{
    margin-top: 45px;
    width: 135px;
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: white;
    text-decoration: none;
    background: #63a63e;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    border-bottom: 3px solid #367315;
    text-transform: uppercase;
    position: relative;
    font-family: 'Cuprum','Tahoma', sans-serif;
}

.item .btn-buy::before{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background: url("../img/icon-basket.png") no-repeat;
    left: 10px;
    top: 9px;
    opacity: 0.4;
}

.item .btn-buy:hover::before{
    opacity: 1;
}

.item .btn-buy:hover{
    background: #5fbb2d;
}

.item .btn-buy:active{
    background: #518534;
    border-bottom: 3px solid #518534;
}

.item .btn-to-bookmark:hover{
    border: 2px solid #32425c;
}

.item .btn-to-bookmark:active{
    opacity: 0.3;
}

.item .btn-to-bookmark{
    background: white;
    width: 131px;
    border: 3px solid #63a63e;
    margin-top: 8px;
    color: black;
}

.item-hover{
    display: none;
}

.item-old-price{
    text-decoration: line-through;
    color: #999999;
}

.items-listing{
    font-size: 0;
    margin-bottom: 35px;
    margin-top:20px;
}

.items-listing .item:nth-child(3n){
    margin-right: 0;
}

.pagination{
    margin: 0 0 59px;
    padding: 0;
}

.pagination li{
    display: inline-block;
    margin-right: 5px;
}

.pagination a{
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-family: 'PT Sans', 'Arial', sans-serif;
}

.pagination a:hover{
    border: 1px solid #bdc6ca;
}

.pagination a:active{
    border:1px solid #ee3643;
}

.pagination .pagination-active:hover{
    border: none;
}

.pagination .pagination-active{
    border: none;
    background: #ee3643;
    padding: 11px 16px;
    cursor: pointer;
    color: white;
}

.pagination-next{
    width: 109px;
    text-align: center;
    text-transform: uppercase;
}

.about-item{
    padding: 60px 0 70px;
    background-color: #f2f6f8;
}

.about-item h2{
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: normal;
}

.about-item p{
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    word-spacing: 1px;
}

/* Модальные окна, поп-апы */
.modal-contact-wrapper{
    width: 460px;
    margin: 0 auto;
    padding: 0 10px;
}

.modal-window{
    display: none;
    width: 620px;
    box-sizing: border-box;
    padding: 55px 0 0;
    border-top: 8px solid #ee3643;
    position: fixed;
    z-index: 20;
    top: 25%;
    left: 50%;
    margin-left: -310px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
    background-color: white;
    color: black;
}

.modal-contact-us p{
    margin: 0;
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
    display: inline-block;
}

.modal-contact-us input{
    width: 220px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius:3px;
    box-shadow: none;
    border: 2px solid #d7dcde;
    padding: 8px 20px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-left{
    float: left;
    width: 220px;
}

.modal-contact-right{
    float: right;
    width: 220px;
}

.modal-contact-us textarea{
    width: 100%;
    min-height: 110px;
    margin-bottom: 40px;
    display: inline-block;
    padding: 0;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
    padding: 8px 20px;
}

.modal-contact-us textarea::-webkit-input-placeholder{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-us textarea::-moz-placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-us textarea:-moz-placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-us textarea:-ms-input-placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-wrapper input::-webkit-input-placeholder{
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999; 
}

.modal-contact-wrapper input::-moz-placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-wrapper input:-moz-placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-wrapper input:-ms-input-placeholder {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    color: #999999;
}

.modal-contact-footer{
    background-color: #f1f1f1;
    padding: -55px -80px;
    font-size: 0;
}

.modal-contact-us .btn-form{
    width: 100%;
    border: none;
    font-family: 'Cuprum','Tahoma', sans-serif;
    font-size: 14px;
    margin: 35px 0 35px;
    color: white;
}

.modal-close{
    width: 19px;
    height: 19px;
    font-size: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-close::before,
.modal-close::after{
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #ee3643;
    border-radius: 3px;
    top:10px;
    left: 2px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map{
    display: none;
    width: 940px;
    height: 446px;
    top: 50%;
    left: 50%;
    margin-top: -223px;
    margin-left: -470px;
    background: url("../img/index/big-map.jpg") no-repeat;
    position: fixed;
    z-index: 20;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}

.modal-cart-item p{
    font-size: 30px;
    margin: 0 0 70px;
    position: relative;
    padding-left: 100px;
}

.modal-cart-item p::before{
    content: "";
    position: absolute;
    background: url(../img/green-yes.png) no-repeat;
    top: -15px;
    left: 0;
    width: 66px;
    height: 66px;
}

.modal-cart-item .modal-button{
    display: inline-block;
    width: 220px;
    text-align: center;
    margin: 35px 0; 
    font-size: 14px;
}

.modal-cart-item  .button-transperent{
    border:none;
    border-radius: 3px;
    background-color: white;
    color:black;
    font-family: 'Cuprum','Tahoma', sans-serif;
    padding: 11px 0;
    text-transform: uppercase;
    line-height: 18px;
    margin-left: 20px;
    cursor: pointer
}

.button-transperent:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;    
}

.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
}